.NotFoundPizza {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  margin-top: 10%;
  padding: 10px;

  h2 {
    font-size: 30px;
    padding: 20px;
  }

  span {
    font-size: 18px;
  }
}