@import '../../styles/variables.scss';

.card {
  width: 280px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  padding: 25px 10px;

  &:hover {
    transform: scale(1.03);
  }

  .img {
    width: 260px;
  }

  .title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
  }

  .selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        margin: 1px 2px;
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 5px;

        &.active {
          background: #ffffff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          cursor: auto;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
  }
}