@import "../../styles/variables.scss";

.container {
  padding: 15px;

  .cart {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1340px;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .clear {
      display: flex;
      align-items: center;
      cursor: pointer;

      .trashcanIcon {
        @media (max-width: 650px) {
          width: 30px;
          height: 30px;
        }
      }

      span {
        display: inline-block;
        margin-left: 7px;
        color: #b6b6b6;
        font-size: 18px;

        @media (max-width: 650px) {
          display: none;
        }
      }
    }

    .title {
      display: flex;
      align-items: center;
      font-size: 32px;

      svg {
        position: relative;
        top: -2px;
        width: 30px;
        height: 30px;
        margin-right: 10px;

        path {
          stroke: $black;
          stroke-width: 1.9;
        }
      }
    }
  }

  .items {
    width: 100%;
    margin: 0 auto;
  }

  .bottom {
    margin: 50px 0;

    .details {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 20px;

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    .bottomButtons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .backButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;

          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .payButton {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;
      }
    }
  }
}


.cartEmpty {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}