// sizes
$headerHeight: 130px;
$footerHeight: 190px;

// colors
$orange: #fe5f1e;
$orangeHover: #ff6f2e;
$black: #181818;
$white: #ffffff;
$lightGray: #f2f2f2;
$gray: #f6f6f6;
$grayHover: #e6e6e6;
$gray-line: #d9d9d9;

// fonts
$bold: 700;
$semiBold: 600;
$regular: 500;
$font: 'Montserrat', sans-serif;
$fontLogo: 'Righteous', cursive;


// animations
$duration: 0.15s;

