.footer {
  margin-top: 100px;
  background-color: #181818;

  .container {
    max-width: 1340px;
    padding: 10px 10px 0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    .email {
      color: white;
      margin-left: auto;
      font-size: 16px;
      padding: 10px 10px 20px 0;
    }

    .phone {
      font-size: 24px;
      font-weight: bold;
      margin-left: auto;
      padding: 20px 10px 10px 0;
      color: white;
    }

    .bottom {
      border-top: 1px solid #303030;
      height: 70px;
      display: flex;
      justify-content: space-between;

      .info {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;

        .copyright {
          color: #B2B2B2;
          font-size: 13px;
          margin-left: 10px;
        }

        .privacy {
          font-size: 16px;
          color: #B2B2B2;
          margin-left: 30px;
        }

        .logo {
          font-family: 'Righteous', cursive;
          font-size: 24px;
          font-weight: 400;
          color: #B2B2B2;
        }

      }

      .social {

      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .footer {
    .container {
      .email {
        margin: 0 auto;
      }

      .phone {
        margin: 0 auto;
      }

      .bottom {
        .info {
          .copyright {
            color: #B2B2B2;
            font-size: 13px;
            margin-left: 5px;
          }

          .privacy {
            font-size: 13px;
            color: #B2B2B2;
            margin-left: 30px;
          }

          .logo {
            font-family: 'Righteous', cursive;
            font-size: 20px;
            font-weight: 400;
            color: #B2B2B2;
          }
        }
        .social {

        }
      }
    }
  }
}